* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

.website {
  width: 100vw;
  height: auto;
  background-color: #f7f2de;
}
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 68px;
  padding: 10px;
  border-bottom: 1px solid #0b0a08;
}

.cart {
  font-size: large;
  border-radius: 45%;
  width: 50px;
  height: auto;
  padding: 7px;
  background: #008f51;
  text-align: center;
}
@media (max-width: 600px) {
  .cart {
    width: 30px;
  }
}
.hamburgerMenu div {
  width: 20px;
  height: 2px;
  background-color: #0b0a08;
  margin: 5px;
}
.topNavTitle {
  /* font-style: Frank Ruhl Libre; */
  font-family: "Frank Ruhl Libre", serif;
  font-size: 25px;
  margin: 0;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  z-index: 1000;
}

.menuSide {
  /* setter menyen til å ikke følge etter når jeg skroller, med position:fixed kunne jeg fått den til å følge med */
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100%;
  overflow-y: auto;
  background-color: #008f51;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .menuSide {
    height: 100%;
    width: 100%;
  }
}
/* Show the menu when active */
.menuSide.show {
  transform: translateX(0);
}
.menuHeader {
  height: 68px;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid #0b0a08;
}

.closeButton {
  font-size: 30px;
  /* how to make this work */
  font-weight: lighter;
}

.menuSide ul {
  height: 100%;
  justify-items: center;
  list-style: none;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuSide ul li {
  text-transform: uppercase;
  padding-top: 10px;
}

.menuSide .checkout {
  margin-top: auto;
  margin-bottom: 50px;
  text-align: center;
}
.linkMenu {
  text-decoration: none;
  color: #0b0a08;
  font-size: 18px;
}
