/* på telefonen skal det ha en annen display, de skal være under hverandre så sikkert fortsatt en grid*/
.page3 {
  height: 785px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  background-color: #f7f2de;
  border: 1px solid #0b0a08;
  height: fit-content;
}
/* dette blir sånn du skal lage den forskjellig mellom ulike versjonene, men må bruke min og max skjerm */
@media (max-width: 600px) {
  .page3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.page3Title {
  display: flex;
  grid-column: 1;
  grid-row: 1 / span 4;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 600px) {
  .page3Title {
    padding: 90px 0 45px;
  }
}
.blockContent {
  display: flex;
  flex-direction: row;
  grid-column: 2;
  height: 197px;
  border-bottom: 1px solid #0b0a08;
  border-left: 1px solid #0b0a08;
  align-items: center;
  font-size: 16px;
  gap: 16px;
}
@media (max-width: 600px) {
  .blockContent {
    flex-direction: column;
    padding: 0;
    border-top: 1px solid #0b0a08;
    border-bottom: 0;
    border-left: 0;
  }
}

.page3 h3 {
  font-size: 20px;
  text-transform: uppercase;
  width: 278px;
  align-items: center;
}
@media (max-width: 600px) {
  .page3 h3 {
  }
}
.page3 p {
}

@media (max-width: 600px) {
  .page3 p {
  }
}
.orderGroceries {
}

.orderGroceriesLink {
  text-decoration: underline;
  color: #0b0a08;
}

@media (max-width: 600px) {
  .orderGroceriesLink {
    justify-content: center;
  }
}
