.page5 {
  width: 100%;
  background-color: #dc4131;
  color: #ffffff;
  overflow: hidden;
}
.page5title {
  padding: 32px 45px 45px 45px;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 100;
  font-size: 48px;
  text-transform: uppercase;
}
.horizontal-line {
  height: 1px;
  margin: 0 10px 0 10px;
  background-color: #ffffff;
  /* plasser i midten */
}
.underTitle {
  padding: 45px;
  font-size: 36px;
  font-weight: 100;
  text-transform: uppercase;
}
.textPage5 {
  width: 460px;
  padding: 0 45px 45px 45px;
  font-size: 24px;
}
form {
  display: flex;
  flex-direction: column;
}

input {
  width: 460px;
  margin: 0 45px 12px 45px;
  height: 45px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}
#submitButton {
  width: 460px;
  margin: 12px 45px 45px 45px;
  height: 45px;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #e1eaf0;
}

@media (max-width: 600px) {
  .underTitle {
    font-size: 24px;
  }
  .textPage5 {
    width: auto;
    font-size: 16px;
  }
  input {
    width: auto;
  }
  #submitButton {
    width: auto;
  }
}
