body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.backgroundChat {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.chatFrame {
  position: absolute;
  background-color: #ffffff;
  width: 400px;
  height: 500px;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.chatMessages {
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  overflow-y: scroll;
}
#messageList {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
}
.chatMessage {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.chatMessage p {
  padding: 10px;
  background-color: #f7f2de;
  border-radius: 10px;
  max-width: 70%;
}
.chatMessage .botName {
  align-self: flex-start;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 18px;
  padding: 10px;
}
.userMessage {
  list-style-type: none;
  margin: 10px;
  margin-left: auto;
  align-self: flex-end;
  justify-content: flex-end;
  padding: 10px;
  background-color: #e1eaf0;
  border-radius: 10px;
  max-width: 70%;
}

#errorHandling {
  display: none;
  border: solid 1px red;
}
#chatForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

#chatForm #userInputChat {
  flex: 1;
  padding: 10px;
  width: 100%;
  height: 45px;
  margin: 10px;
  border: 0;
  border-radius: 10px;
  background-color: #e1eaf0;
}
#sendButtonChat {
  display: block;
  flex: 2;
  max-width: 10%;
  border: 0;
  border-radius: 10px;
  height: 30px;
  margin: 20px 10px 10px 10px;
  background-color: #dc4131;
  color: #ffffff;
}
#sendButtonChatClose {
  display: none;
  flex: 2;
  max-width: 10%;
  border: 0;
  border-radius: 10px;
  height: 30px;
  margin: 20px 10px 10px 10px;
  background-color: #dc4131;
  color: #ffffff;
}

@media (max-width: 600px) {
  .backgroundChat {
    display: none;
  }
  .chatFrame {
    width: 100%;
    height: calc(100% - 68px);
    left: 50%;
    top:auto;
    bottom:0;
    transform: translate(-50%);
  }
  .chat {
    width: 100%;
    height:100%;
  }
  #sendButtonChat {
    height: 45px;
    margin: 10px;
  }
  #sendButtonChatClose {
    height: 45px;
    margin: 10;
  }
}
