body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.backgroundChat {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.chat {
  position: absolute;
  background-color: #ffffff;
  width: 400px;
  height: 500px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#errorHandling{
  display: none;
}

@media (max-width: 600px) {
  .backgroundChat {
    display: none;
  }
  .chat {
    width: 100%;
    height: auto;
  }
}
