.featurePage {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background-color: #ffffff;
}

.theFeatureSections {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px #0b0a08;
}
#produceSite {
  border-right: 0px;
}

.theFeatureSectionsTitle {
  padding-top: 90px;
  font-size: 36px;
  /* få den til å ikke være bold */
}
.theFeatureSectionInfoSnippet {
  margin-top: 8px;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 300;
  font-size: 20px;
}

.theFeatureImages {
  margin-top: 45px;
  border-radius: 15px;
  width: 65%;
  height: 327px;
}

.theFeatureDescription {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 300;
  margin: 45px;
  font-size: 20px;
}

.theFeatureButton {
  margin-bottom: 90px;
  width: 320px;
  height: 45px;
  border: 0;
  border-radius: 10px;
  background-color: #dc4131;
  color: #ffffff;
  cursor: pointer;
}
.theFeatureButton:hover {
  background-color: #ae2e21;
}
@media (max-width: 600px) {
  .featurePage {
    flex-direction: column;
  }
  .theFeatureSections {
    width: 100%;
  }
  #produceSite {
    border-bottom: 0px;
    border-right: solid 1px #0b0a08;
  }
  .theFeatureSectionsTitle {
    font-size: 24px;
  }
  .theFeatureSectionInfoSnippet {
    font-size: 18px;
  }
  .theFeatureImages {
    height: 250px;
    width: 85%;
    /* dette var bedre for om du endret størrelsen på skjermen */
  }
  .theFeatureDescription {
    font-size: 18px;
    /* dette var bedre for om du endret størrelsen på skjermen */
  }
}
