/* på telefonen skal det ha en annen display, de skal være under hverandre så sikkert fortsatt en grid*/
.thisIsHowItWorks {
  height: 785px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  background-color: #f7f2de;
  height: fit-content;
}

.howItWorksTitle {
  display: flex;
  grid-column: 1;
  grid-row: 1 / span 4;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #0b0a08;
}

.blockContent {
  display: grid;
  grid-column: 2;
  height: 197px;
  border-bottom: 1px solid #0b0a08;
  border-left: 1px solid #0b0a08;
  align-items: center;
  font-size: 16px;
  gap: 20px;
}

.thisIsHowItWorks h3 {
  width: 278px;
  padding-left: 90px;
  font-size: 20px;
  text-transform: uppercase;
  grid-column: 1; /* Ensure it's in the first column */
}

.thisIsHowItWorks p {
  grid-column: 2;
  margin: 0;
  padding-right: 50px;
  padding-bottom: 10px;
}
.orderGroceries {
  grid-column: 2;
}

.orderGroceriesLink {
  text-decoration: underline;
  color: #0b0a08;
}

@media (max-width: 600px) {
  .thisIsHowItWorks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .howItWorksTitle {
    font-size: 24px;
    padding-top: 90px;
    padding-bottom: 45px;
    border-bottom: 1px solid #0b0a08;
    width: 100%;
  }
  .blockContent {
    padding: 45px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #0b0a08;
    border-top: 0;
    border-left: 0;
    height: fit-content;
    gap: 0;
  }
  .thisIsHowItWorks h3 {
    padding-left: 0;
    font-size: 18px;
    padding-bottom: 24px;
    text-align: center;
  }
  .thisIsHowItWorks p {
    font-size: 16px;
  }
}

/* If you want to use it on a tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .thisIsHowItWorks h3 {
    font-size: 18px;
    padding-left: 50px;
    width: 200px;
  }
  .blockContent {
    height: fit-content;
  }
}
