.sectionProduce {
  /* trenger at man kan kunne se overskriften uansett så da må de være over h */
  display: flex;
  flex-wrap: wrap;
  padding: 45px;
  background-color: #ffffff;
}
.introToProduce {
  padding: 45px;
}
.produceTitle {
  font-size: 24px;
  padding-top: 45px;
  text-transform: uppercase;
}
.producePageDescripton {
  padding-top: 30px;
  font-size: 20px;
  max-width: 591px;
}
.produceLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px;
  padding-top: 45px;
  padding-bottom: 90px;
  justify-content: center;
}
.producePageLayout .produceLayout {
  grid-template-rows: repeat(2, auto);
}

.produceContainer {
  position: relative;
  width: auto;
}

.produce {
  position: relative;
}

.produce img {
  /* jeg vil ha width til å være 100% fordi hvis jeg setter width til å være det som er ønsket så tar det for mye plass,
   og hvis jeg setter det til max-width i stedet så noen kun den bredden bildet har i forhold til høyden som er satt */
  width: 100%;
  height: 432px;
  border-radius: 5%;
  object-fit: cover;
}
.addToBasket {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 130px;
  height: 30px;
  background-color: #0b0a08;
  color: #ffffff;
  border-radius: 25px;
  text-align: center;
}
.addToBasket i {
  margin-left: 5px;
}

.produceDiscription {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.produceDiscription .type {
  grid-column: 1;
  grid-row: 1;
  padding-top: 18px;
  padding-left: 10px;
  font-size: 20px;
}
.produceDiscription .price {
  justify-self: end;
  grid-column: 2;
  grid-row: 1;
  padding-top: 18px;
  padding-right: 10px;
  font-size: 20px;
}
.produceDiscription .kg {
  grid-column: 1;
  grid-row: 2;
  padding-top: 12px;
  padding-left: 10px;
  font-size: 18px;
}

.mapSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 686px;
  border: 1px solid #0b0a08;
  justify-items: stretch;
  align-content: stretch;
}
.mapSectionText {
  border: 1px solid #0b0a08;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mapTitle {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
}
#hereIsMap{
  position: relative;
}
#map {
  height: 100%;
  width: 100%;
  border: 1px solid red; 
}
#customInfoWindow {
  display:none;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  border: 1px solid black;
  z-index: 1000;
}
@media (max-width: 600px) {
  .sectionProduce {
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    height: fit-content;
    position: relative;
    /* skal være mulig å scrolle for å se de andre */
    overflow-x: scroll;
    display: flex;
  }
  /* man skal kunne se at man kan scrolle, derfor må den ene syntes litt */
  .produceLayout {
    display: grid;
    grid-template-columns: repeat(3, 70vw);
  }
  .producePageLayout .produceLayout {
    display: grid;
    grid-template-columns: 1fr;
  }
  .produce img {
    height: 279px;
    width: 100%;
    border-radius: 5%;
  }
  .produceDiscription .type {
    font-size: 18px;
  }
  .produceDiscription .price {
    font-size: 18px;
  }
  .produceDiscription .kg {
    font-size: 16px;
  }

  .mapSection {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    border: none;
  }
  .mapSectionText {
    padding: 45px;
    width: 100%;
    box-sizing: border-box;
    border-left: none;
    border-right: none;
  }

  #map {
    width: auto;
    height: 450px;
    margin: 45px 25px 45px 25px;
    border-radius: 5%;
  }
}
